{
    "env": {
        "browser": true,
        "es6": true,
        "mocha": true,
        "node": true
    },
    "globals": {
        "dashjs": true,
        "_VERSION_": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "new-cap": [
            "error",
            {
                "capIsNewExceptions": [
                    "SegmentsGetter",
                    "EventBus",
                    "MediaPlayerModel"
                ]
            }
        ]
    },
    "settings": {},
    "extends": "streamroot"
}
